In [17]:
import numpy as np
import pandas as pd

pd.options.mode.use_inf_as_na = True

/tmp/ipykernel_4210/1630993852.py:4: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.options.mode.use_inf_as_na = True

In [18]:
df = pd.read_excel("CSR_koyou_2022.北島入力xlsx.xlsx")

In [19]:
colums_list = [
    "環境(5)",
    "企業統治(5)",
    "社会性(5)",
    "30歳平均賃金",
    "月平均残業時間",
    "有休取得率/前期",
    "従業員の能力・評価結果の公開",
    "勤続年数合計/2期前",
    "3年前4月1日入社・合計(入社者定着状況)",
    "うち直近4月1日在籍者・合計(入社者定着状況)",
]
df1 = df.loc[:, colums_list]
df1

,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/2期前,3年前4月1日入社・合計(入社者定着状況),うち直近4月1日在籍者・合計(入社者定着状況)
0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.7,48.0,41.0
1,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.8,58.0,54.0
2,3.0,2.0,2.0,NaN,NaN,94.3,1.0,9.5,15.0,8.0
3,NaN,NaN,NaN,NaN,NaN,67.5,NaN,11.6,27.0,23.0
4,NaN,2.0,NaN,NaN,NaN,NaN,NaN,14.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1626,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,0.0
1627,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.2,425.0,253.0
1628,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,2.1,1.0,1.0
1629,3.0,3.0,3.0,NaN,NaN,NaN,1.0,14.7,NaN,NaN
1630,NaN,1.0,2.0,NaN,NaN,NaN,NaN,5.1,NaN,NaN

In [20]:
df2 = df1.dropna()
df2 = df2[df2["3年前4月1日入社・合計(入社者定着状況)"] != 0]
df2

,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/2期前,3年前4月1日入社・合計(入社者定着状況),うち直近4月1日在籍者・合計(入社者定着状況)
0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.7,48.0,41.0
1,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.8,58.0,54.0
5,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,17.1,2.0,2.0
6,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,15.5,56.0,53.0
7,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.2,65.0,13.0
...,...,...,...,...,...,...,...,...,...,...
1617,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.7,123.0,74.0
1620,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0,22.0,13.0
1621,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,11.7,288.0,208.0
1627,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.2,425.0,253.0
1628,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,2.1,1.0,1.0

In [21]:
df2.to_csv("data.csv")

In [22]:
df3 = (
    df2["3年前4月1日入社・合計(入社者定着状況)"]
    - df2["うち直近4月1日在籍者・合計(入社者定着状況)"]
) / df2["3年前4月1日入社・合計(入社者定着状況)"]
df3.name = "3年以内離職率"
df3

0       0.145833
1       0.068966
5       0.000000
6       0.053571
7       0.800000
          ...
1617    0.398374
1620    0.409091
1621    0.277778
1627    0.404706
1628    0.000000
Name: 3年以内離職率, Length: 718, dtype: float64

In [23]:
df3.to_csv("3年以内離職率")

In [24]:
df5 = df2.iloc[:, :-2]
df5

,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/2期前
0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.7
1,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.8
5,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,17.1
6,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,15.5
7,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.2
...,...,...,...,...,...,...,...,...
1617,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.7
1620,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0
1621,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,11.7
1627,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.2
1628,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,2.1

In [25]:
df4 = pd.concat((df5, df3), axis=1)
df4.dropna()
df4

,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/2期前,3年以内離職率
0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.7,0.145833
1,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.8,0.068966
5,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,17.1,0.000000
6,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,15.5,0.053571
7,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.2,0.800000
...,...,...,...,...,...,...,...,...,...
1617,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.7,0.398374
1620,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0,0.409091
1621,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,11.7,0.277778
1627,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.2,0.404706
1628,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,2.1,0.000000

In [26]:
df4.to_csv("data2.csv")

In [27]:
df4.columns

Index(['環境(5)', '企業統治(5)', '社会性(5)', '30歳平均賃金', '月平均残業時間', '有休取得率/前期',
       '従業員の能力・評価結果の公開', '勤続年数合計/2期前', '3年以内離職率'],
      dtype='object')

In [28]:
df4.count()

環境(5)             718
企業統治(5)           718
社会性(5)            718
30歳平均賃金           718
月平均残業時間           718
有休取得率/前期          718
従業員の能力・評価結果の公開    718
勤続年数合計/2期前        718
3年以内離職率           718
dtype: int64

In [29]:
df4.describe().to_excel("mika_kihontoukeiryo.xlsx")

In [30]:
df4.corr().to_excel("mika_soukan.xlsx")

In [31]:
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import japanize_matplotlib


plt.figure()
sns.heatmap(df4.corr(), vmax=1, vmin=-1, center=0)
plt.savefig("heatmap.png", bbox_inches="tight")
plt.close("all")